* { box-sizing: border-box; margin: 5; padding: 0; font-family: sans-serif; }
a{
    text-decoration: none;
    color: inherit;
}

.nvbr {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.subnav {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9em;
    color: #555;
}

.breadcrumbs {
    padding: 20px 40px;
    font-size: 14px;
}
/* Styling */
.logos { font-size: 24px; font-weight: bold; letter-spacing: 2px; }
.navlinks, .navicons { display: flex; gap: 20px; }
.active { border-bottom: 2px solid #000; padding-bottom: 5px; }
.sale { color: red; font-weight: 500; }





/* Grid for Products */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item { text-align: center; }
.image-placeholder { background: #eee; height: 250px; border-radius: 8px; margin-bottom: 10px; }

/* Flex for Promo Cards */
.promo-grid {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.card {
    flex: 1;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}
.pink { background: #ff00aa; color: white; }
.yellow { background: #d4ed31; }



/* Hero */
.hero { height: 400px; background: #ddd; display: flex; align-items: center; justify-content: center; }
