* { box-sizing: border-box; margin: 5; padding: 0; font-family: sans-serif; }
a{
    text-decoration: none;
    color: inherit;
}

.nvbr {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    border-bottom: 1px solid #eee;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.subnav {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 0.9em;
    color: #555;
}

.breadcrumbs {
    padding: 20px 40px;
    font-size: 14px;
}
/* Styling */
.logos { font-size: 24px; font-weight: bold; letter-spacing: 2px; }
.navlinks, .navicons { display: flex; gap: 20px; }
.active { border-bottom: 2px solid #000; padding-bottom: 5px; }
.sale { color: red; font-weight: 500; }

.breadcrumb {
    padding: 20px 40px;
    font-size: 14px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px 40px;
}
/* CARD */
.card {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}
.card img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.name {
    margin-top: 10px;
    font-size: 14px;
}

.price {
    color: gray;
    margin: 5px 0;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: purple;
}

.categories a {
    margin-right: 20px;
    cursor: pointer;
    color: #555;
}

.categories .active {
    font-weight: bold;
    color: black;
}

.sizes {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}
select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

label {
    font-weight: bold;
    margin-right: 10px;
}